{% extends "base.html" %}
{% block title %}
SuperBlog -kjkg df jksj kfj ks
{% endblock title %}

{% block content %}
{% for post in post_list %}
{{post.title}}
{{post.content}}
{% endfor %}
{% if page_obj.has_next %}<button id="load-more-button">Load More</button>{% endif %}

{% endblock content %}
{% block extra_js %}
  <script>
    $(function() {
      var pageNum = 2; // start with page 2 because page 1 is already displayed

      $('#load-more-button').on('click', function() {
        $.ajax({
          url: '?page=' + pageNum,
          success: function(data) {
            if ($.trim(data)) {
              $('#post-list').append(data);
              pageNum++;
            } else {
              $('#load-more-button').hide();
            }
          }
        });
      });
    });
  </script>
{% endblock extra_js %}