.bg-1{
    background-color: #7b2cbf;
}
.dark{
    color: black;
}
.top-nav{
    margin-bottom: 20px;
}
.navbar{
    margin-top: -10px;
    /* margin-bottom: 100px; */
}
a{
    color: #5a189a;
    text-decoration: none;
}
a:hover,.nav-link:hover{
    color: #7b2cbf;
}
.active{
    color: #9d4edd !important; 
}
.post-detail-image{
    /* max-height: 700px; */
    max-width: 100%;
}
.small-text{
    font-size: 12px;
}
.btn-outline{
    border: 1px solid #9d4edd;
    color: #7b2cbf;
}
.btn-outline:hover{
    /* border: 1px solid #9d4edd; */
    background-color: #9d4edd;
    color: white;
}
#load-more-button{
    /* font-weight: 900; */
    font-family: cursive;
    font-size: larger;

    padding: 5 10px;
}
body{
    /* background-color: #e0aaff; */
}