.bg-1{
    background-color: #7b2cbf;
}
.dark{
    color: black;
}
.top-nav{
    margin-bottom: 20px;
}
.navbar{
    margin-top: -10px;
    /* margin-bottom: 100px; */
}
a{
    color: #5a189a;
    text-decoration: none;
}
a:hover,.nav-link:hover{
    color: #7b2cbf;
}
.active{
    color: #9d4edd !important; 
}
.post-detail-image{
    max-height: 700px;
}
.small-text{
    font-size: 12px;
}
.btn-outline{
    border: 1px solid #9d4edd;
}
body{
    /* background-color: #e0aaff; */
}