{% extends "base.html" %}
{% block title %}
    PACIFIC PRINCE
{% endblock title %}
{% block content %}
    <div class="  mt-5">
        <div id="post-list" class="row  gap-5">
            {% for post in post_list %}
                {% include "posts.html" %}
            {% endfor %}
        </div>
        {% if page_obj.has_next %}<button id="load-more-button">Load More</button>{% endif %}
    </div>
{% endblock content %}
{% block extra_js %}
    <script>
    $(function () {
        var pageNum = 2; // start with page 2 because page 1 is already displayed

        $('#load-more-button').on('click', function () {
            $.ajax({
                url: "{% url 'postpagination' %}?page=" + pageNum,
                success: function (data) {
                    if ($.trim(data)) {
                        $('#post-list').append(data);
                        pageNum++;
                    } else {
                        $('#load-more-button').hide();
                    }
                }
            });
        });
    });
    </script>
{% endblock extra_js %}
