{% extends "base.html" %}
{% block title %}
    SuperBlog -kjkg df jksj kfj ks
{% endblock title %}
{% block content %}
    <div>
        <form action="{% url 'search' %}" method="get">
            <input name='q' type="text" />
            <button type="submit">Search</button>
        </form>
        <main id="post-list">
            {% for post in post_list %}
                {% include "posts.html" %}
            {% endfor %}
        </main>
        {% if page_obj.has_next %}<button id="load-more-button">Load More</button>{% endif %}
    </div>
{% endblock content %}
{% block extra_js %}
    <script>
    $(function () {
        var pageNum = 2; // start with page 2 because page 1 is already displayed

        $('#load-more-button').on('click', function () {
            $.ajax({
                url: "{% url 'postpagination' %}?page=" + pageNum,
                success: function (data) {
                    if ($.trim(data)) {
                        $('#post-list').append(data);
                        pageNum++;
                    } else {
                        $('#load-more-button').hide();
                    }
                }
            });
        });
    });
    </script>
{% endblock extra_js %}
