{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Admin Panel
{% endblock title %}
{% block content %}
    {% for post in posts %}
        {% comment %} {% include "posts.html" %} {% endcomment %}
        {% if post.status == 0 %}
            {% include "posts.html" %}
        {% endif %}
    {% endfor %}
    {% comment %} <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <button type="submit">Upload</button>
    </form> {% endcomment %}
{% endblock content %}
