{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Admin Panel
{% endblock title %}
{% block content %}
    <div>
        <button class="btn btn-outline"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#draftDiv"
                aria-expanded="false"
                aria-controls="commentDiv">
            Drafts
        </button>
        <button class="btn btn-outline"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#publishDiv"
                aria-expanded="false"
                aria-controls="commentDiv">
            Published
        </button>
        <button class="btn btn-outline"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#pastQuestionDiv"
                aria-expanded="false"
                aria-controls="pastQuestionDiv">
            Past Questions
        </button>
    </div>
    <div class="collapse" id="publishDiv">
        <div class="row gap-5">
            {% for post in posts %}
                {% if post.status == 1 %}
                    {% include 'posts.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="collapse" id="pastQuestionDiv">
        <div class="">
            {% for document in past_questions %}
                <p>
                    <a href={{ document.document.url }} download>{{ document.description }}
                    </a>
                </p>
            {% endfor %}
        </div>
    </div>
    <div class="collapse" id="draftDiv">
        <div class="row gap-5">
            {% for post in posts %}
                {% if post.status == 0 %}
                    {% include 'posts.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% comment %} <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <button type="submit">Upload</button>
    </form> {% endcomment %}
{% endblock content %}
